/*	--------------------------------------------------
Global Reset - Resets all browser defaults to 0
-------------------------------------------------- */
body { background:#c22b2b url(3-red/bg.png) repeat top left; color:#e8a0a0;}
a { color:#fda4a6; }
a:hover { color:#fff; }

hr { color:#fffdea; border:none; border-top:1px dotted #372322; }
.hr2 { color:#fffdea; border:none;  }
/* headings ---------------------- */
h1,h2,h3,h4,h5,h6 { color:#fff; }
#content .product_info h1 {  color:#fff;  }
h1.head { color:#fff; }
h1.head a { color:#fff; }
h1.head a:hover { color:#d0e6ff; }

#content .posts .img { border:1px solid #eee;}

/* Structure ---------------------- */
#page { background:none;}
#banner { border:1px solid #333; }
#sidebar { background: url(3-red/sidebarbg.png) no-repeat left bottom; }
#footer { border-top:1px solid #ce5555; border-bottom:1px solid #ce5555; }


/* header ---------------------- */
#header .blog-title a{ color:#fff; }
#header .blog-title a:hover{color:#014694;}
#header .blog-description{ color:#666; }

.h_right li { border-right:1px solid #FEA4A7; }
.h_right li a { color:#FEA4A7; }
.h_right li a:hover { color:#fff; }

.bag { background:url(3-red/bag.png) no-repeat left 0px;  }
#main_navi {  background:#c22b2b; border-bottom:1px solid #c65858; border-top:1px solid #c65858;  }
#main_navi_in {  border-left:1px solid #c65858; }

#search_section { background:#a01315; }

.searchform .s { border:1px solid #941e1e; background:#fff; }
.search_btn { background:url(3-red/b_search.png) no-repeat left top;  }

.subscribe { color:#666; background:url(3-red/i_mail.png) no-repeat left 5px; }
.field { border:1px solid #941e1e; background:#fff; color:#333; }
.replace { background:url(3-red/b_go.png) no-repeat; border:none; color:#fff; }


/*---------TOP NAVIGATION for PAGES---------  */
#main_navi_in ul li { border-right:1px solid #c65858; }
#main_navi_in ul li ul li { border-style: solid; border-width: 1px; border-color: #c65858 #c65858 #c65858; background:#ffe3e3; }
#main_navi_in ul li ul li.hover, #main_navi_in ul li ul li:hover,  #main_navi_in ul li ul li.current-cat:hover,  #main_navi_in ul li ul li.current_page_parent:hover, #main_navi_in ul li ul li.current_page_item:hover { background: #c65858;  }
#main_navi_in ul li a:link, #main_navi_in ul li a {color:#fdbcbc;  }
#main_navi_in ul li ul li a:link, #main_navi_in ul li ul li a { cursor:pointer; color:#c65858;  } 
#main_navi_in ul li ul li a:hover, #main_navi_in ul li ul li:hover a,  #main_navi_in ul li ul li.current-cat ul li a:hover { cursor:pointer; color:#fff; }


#main_navi_in ul li.store a, #main_navi_in ul li ul li.current-cat a,  #main_navi_in ul li ul li.current-cat-parent a, #main_navi_in ul li ul li.current-cat-parent ul li.current-cat a, #main_navi_in ul li a.current, #main_navi_in ul li.current_page_item a, #main_navi_in ul li ul li.current_page_parent a, 
#main_navi_in ul li ul li ul li.current_page_item a, #main_navi_in ul li.current-cat a, #main_navi_in ul li.current-cat-parent a, #main_navi_in ul li.current-menu-item a, #main_navi_in ul li.current-menu-item ul li a:hover   { color:#fff;  }
#main_navi_in ul li.store li a, #main_navi_in ul li ul li.current-cat ul li a, #main_navi_in ul li ul li.current-cat-parent ul li a, 
#main_navi_in ul li ul li ul li.current_page_item a, #main_navi_in ul li.current-cat-parent li a, #main_navi_in ul li.current-cat li a, #main_navi_in ul li.current-menu-item ul li a,
#main_navi_in ul li ul li.current-menu-item a   { color:#c65858; }


#main_navi_in ul li ul li.current-cat a, #main_navi_in ul li ul li.current-cat-parent ul li.current-cat a, #main_navi_in ul li ul li.current-cat-parent a,  { background:#c65858;  } 
#main_navi_in ul li ul li.current-cat ul li a,  #main_navi_in ul li ul li.current-cat-parent ul li a, #main_navi_in ul.sub-menu li a      { background:#ffe3e3;  }
#main_navi_in ul li ul li.current-cat ul li a:hover, #main_navi_in ul li ul li.current-cat-parent ul li.current-cat a  { background:#c65858; }

#main_navi_in ul li ul li.current-cat,  #main_navi_in ul li ul li.current_page_item, #main_navi_in ul li ul li.current_page_parent,  #main_navi_in li ul li.current-cat-parent ul li a:hover, #main_navi_in ul.sub-menu li a:hover   { background:#c65858; color:#c65858; }


 


/* content section  ---------------------- */
#content .banner h1 { color:#333; }
#content .banner p  { color:#695d3e;   }

#content .product { border-bottom:1px solid #e3e3e3; }
#content .product_inner { border:none; }
#content .product_info h3 a { color:#fff; }
#content .product_info h3 a:hover { color:#333; }
.price { font-weight:bold; font-size:17px;  }


.b_addtocart a { background:url(3-red/b_addtocart.png) no-repeat; }
.b_addtocart a:hover { background-position:0 -31px; } 

.b_checkout a { background:url(3-red/b_checkout2.png) no-repeat; }
.b_checkout a:hover { background-position:0 -29px; } 

.b_checkout2 { background:url(3-red/b_checkout2.png) no-repeat;  border:none; }
.b_checkout2:hover { background-position:0 -29px; } 

.b_update_cart { background:url(3-red/b_updatecart.png) no-repeat; border:none; }
.b_update_cart:hover { background-position:0 -28px; } 

.b_viewdetails { background:url(3-red/b_viewdetail.png) no-repeat; border:none; }
.b_viewdetails:hover { background-position:0 -29px; } 

.b_buynow { background:url(3-red/b_buynow.png) no-repeat; border:none; }
.b_buynow:hover { background-position:0 -32px; } 



.textbox { border:1px solid #4c3c35; color:#444; }



  


/*#breadcrumb section  =================================== */
.breadcrumb {border-bottom:1px dotted #ce5555;  background:none; color:#fea4a7 } 
.breadcrumb a { color:#fff;  }
.breadcrumb a:hover { color:#fea4a7; }

/* Home Page ---------------------- */
#carousel li { background:url(3-red/latest_pro_bg.png) no-repeat left top; }
#carousel li img {  }
#carousel li:hover img { /*border:1px solid #009900; background: #CFC;*/}
#carousel li:hover a { color:#fff;  } 

#carousel li .sale_img { border:none; background:none; }
#carousel li:hover .sale_img { border:none; background:none; }

#carousel p a  { color:#fea4a7; text-decoration:none; }
#carousel p a:hover { color:#fff; text-decoration:underline; }

#carousel li .price b { color:#fff;  }
#carousel li .price s { color:#e28181; }


/* content ---------------------------- */

#content li { background:url(3-red/i_bullet.gif) no-repeat left 8px; }
#content ol li { background:none; }


#content .gallerylist li img { border:2px solid #5D97D9;   }
#content .img { border:2px solid #5D97D9; }

#content h3 { color:#fff; }

#content h3.bnone { border-bottom:none; }
.featured_work { border-bottom:5px solid #e3e3e3; }
.featured_work img {border:1px solid #babab2; }

#content .services p strong { color:#ABC6E5;  }
#content p.more a { color:#FEA4A7; }
#content p.more a:hover { color:#fff; }

#content p.more a { color:#FEA4A7; }
#content p.more a:hover { color:#fff; }

#content a { color:#FEA4A7; }
#content a:hover { color:#fff; }


/* post ---------------------------- */

code { background:#5D97D9; }

blockquote { background:url(3-red/quote.png) no-repeat;    } 
blockquote p { color:#333;  }
blockquote cite { color:#666; }

blockquote a { color:#333; }
blockquote a:hover { color:#000; }

.flickr h3 span{ color:#000 }
.flickr h3 span b{ color:#FF1183 }
.flickr img{ border:1px solid #969696; background:#F4F4F4; }
.flickr img:hover{ border-color:#333 }


#content .post_top h2 a { color:#FEA4A7; }
#content .post_top h2 a:hover { color:#fff; }
.commentcount { background:#CE5555 url(../images/i_comment.png) no-repeat 5px 7px; }

#content .headline { background:url(../images/i_post_s.png) no-repeat 5px 14px; border-bottom:1px solid #5D97D9; }
#content .headline:hover { background:#eee url(../images/i_post_s.png) no-repeat 5px 14px; border-bottom:1px solid #5D97D9; cursor:pointer; }

#content .headline h3 { border:none;  }
#content .headline h3 a { color:#333;  }
#content .headline h3 a:hover { color:#000;  }
#content .headline .commentcount {  float:right; }
#content .headline .commentcount a { color:#666; }
#content .headline .commentcount a:hover { color:#000; }


#content .post_top { color:#E8A0A0; }
#content .post_top a { color:#E8A0A0;  }
#content .post_top a:hover { color:#fff;}

#content .post_top p a {text-decoration:underline; }

#content .posts { border-bottom:4px solid #CE5555; }
#content .posts h2.title a { color:#333; }
#content .posts h2.title a:hover { color:#000; }

#content p.post_bottom {color:#ffd5d5; }
#content p.post_bottom a { color:#ffd5d5; }
#content p.post_bottom a:hover { color:#fff; }

/* Post Pagination */

.pagination .on { background:#000; color:#fff; }
.pagination a, #content .pagination a { background:#dc5555; color:#fff; }
.pagination a:hover, #content .pagination a:hover { background:#8d1313; color:#fff; }


/*#sidebar ----------------------- */

.shipping_total { background:#a91717;}
.shipping_row { border-bottom:1px solid #CE5555; }
#sidebar .widget li { color:#635c53; }
#sidebar .widget li a { background:url(3-red/i_bullet.gif) no-repeat 5px 9px; color:#FEA4A7; border-bottom:1px dotted #CE5555;   }
#sidebar .widget li a:hover { background:#9d1416 url(3-red/i_bullet.gif) no-repeat 5px 9px; color:#fff;  }
#sidebar .widget h3 { color:#fff; background:#9d1416;  }


#sidebar .widget .twitter_post { color:#000;  }
#sidebar .widget  .twitter_post #twitter li { background:none ; border-bottom:1px dotted #BDAB91; }
#sidebar .widget  .twitter_post #twitter li a { background:none; border-bottom:none;  }

 
	  
/*---------ARCHIVE PAGE --------- */
.arclist ul li{ color:silver; border-bottom:1px solid #f1f1ed;  background:none }
.arclist ul li ul{ border-bottom:0; }
.arclist ul li ul li{ border-bottom:0;}
.arclist .archives-time{ color: #666666; border-right: dashed 1px #ddd; }

/*---------COMMENTS --------- */
#comments h3{ border-bottom:1px dotted #CE5555; color:#fff; }

#comments .comment {background:none; }
#comments  p.authorcomment a {  color:#e77a7a; }
#comments  p.authorcomment a:hover { color:#fff; }


#comments .comment .meta-left { color:#e77a7a }
#comments .comment .text-right { border:none; background:#b41f20 url(3-red/commentbg.png) no-repeat center left; }
#comments .comment .authcomment{ background:#a91717 url(3-red/commentbg_author.png) no-repeat center left; border:none;  }
#comments .comment .authcomment p { color:#e77a7a; }

span.comm-reply{ color:#7db7f6; }
span.comm-reply a { color:#7db7f6;  }
span.comm-reply a:hover{ color:#fff; }
#respond textarea, .commpadd input{ background:#cc3b3b; border:1px solid #CE5555; color:#fff;  }
#respond textarea:hover, .commpadd input:hover, .commpadd input:focus, #respond textarea:focus { background:#b42f2f; }

input#submit{ color:#fff; background:#000; border:2px solid #CE5555;  }
.avatar { border:2px solid #c6c6c6; }

/* footer ---------------------------- */
#footer h3 { color:#fff; }

#footer li a { color:#FEA4A7; }
#footer li a:hover { color:#fff;}

#footer p { color:#fea4a7; }
#footer p.callus { color:#fff; }
#footer p.time { color:#fea4a7; }


#footer .copyright , #footer .copyright  a { color:#015484; }
#footer p a:hover {  color:#333; }

#footer p span.templatic { color:#fff;  background:url(../images/templatic.png) no-repeat 0;   }

/* ----------------------------------------
product listing view 
------------------------------------*/
.msg { float:left; margin-right:10px;  }
 
#content ul.display li {  border-bottom:1px solid #ce5555;  background:url(3-red/latest_pro_bg.png) no-repeat left top;  }
#content ul.display li a { color:#000; }
#content ul.display li a:hover { color:#444; }

#content ul.thumb_view li{ border-bottom:none; }
#content ul.thumb_view li .content_block a.product_thumb { /*background:#eee;*/  }
/*#content ul.thumb_view li .content_block a.product_thumb{ border:1px solid #ccc; }
#content ul.thumb_view li .content_block a:hover.product_thumb{ border:1px solid #333; }
*/

#content a.switch_thumb { background:url(3-red/switch.gif) no-repeat right top; outline:none; color:#444; }
#content a.swap { background-position:right bottom; color:#FEA4A7; }
#content a:hover.swap { color:#fff; }

#content ul.display li h3 a { color:#FEA4A7; }
#content ul.display li h3 a:hover { color:#fff; }


.specialpirce { color:#fff; }
.price { color:#E28181; }
.prdprice {  color:#E28181; }

#content ul.display li p.sale_price { font-size:14px; }
#content ul.display li .sale_price b { color:#fff; }
#content ul.display li .sale_price s { color:#E28181; }

a.viewcart { color:#000;  }
a:hover.viewcart {  color:#000; }

#content ul.display .content ul li { border-bottom:none; background:url(3-red/i_bullet.png) no-repeat 3px 10px; }
#content ul.display li .sale_img { border:none; }
#content ul.thumb_view li .sale_img { border:none; }



/* table format  --------------------- */

.table td.title {  color:#fff; border-bottom:2px solid #CE5555; border-top:2px solid #CE5555; }
.table td.title1 {  color:#fff; border-bottom:2px solid #CE5555;}
.table .row1 { background:none; border-right:1px solid #CE5555; border-bottom:1px solid #CE5555; color:#fff;   }
.table .row1 a { color:#fff; }
.table .row3 { background:none;  border-bottom:1px solid #CE5555; color:#fff; }
.table .bnone { border-right:none; }
.table .remove {background:#fff; border-bottom:1px solid #ddd; color:#fff;  }
.table .total_price { border-right:1px solid #CE5555; border-top:1px solid #CE5555; border-bottom:1px solid #CE5555; background:none; color:#fff; }
.table .row2 { background:none; border-right:1px solid #CE5555;  border-bottom:1px solid #CE5555; border-top:1px solid #CE5555; color:#fff; }
.table a { color:#FEA4A7; }
.table a:hover { color:#fff; }
.table .pro_title { color:#FEA4A7; }
.table .pro_des { color:#FEA4A7; }
.table .qty { border:1px solid #CE5555; }
.button_bar2 { border-top:1px solid #CE5555; border-bottom:1px solid #CE5555; }

.remove_item { background:url(3-red/remove_icon.png) no-repeat; }
.product_thum { border:1px solid #5D97D9; background:#fff; }

.action_button { background:none; color:#fff; text-align:center; border:none; cursor:pointer;  -moz-border-radius:0.5em; }
.action_button:hover { background:#636363; }

.coupon_code { background:none; border-right:1px solid #CE5555; }
.coupon_text { border:1px solid #5D97D9; }

.total_amount { background:none; border-top:1px solid #CE5555; border-bottom:1px solid #CE5555; }
.total_amount_title { background:none; border-top:1px solid #CE5555; border-bottom:1px solid #CE5555; }

.order_info { border:1px solid #5D97D9; background:#fff; }
.continue_spacer { margin-left:20px; margin-top:17px; }
.checkout_spacer { margin-top:10px; }

/* checkout page ------------------------------------------------ */

.checkout_address { height:100%; overflow:hidden; }
.address_info { border:1px solid #CE5555; padding:15px; margin-bottom:20px; width:245px;  width:245px;  }

#content .address_info h3 {  font-size:16px; font-weight:bold; border-bottom:1px solid #5D97D9; margin-top:1px;  }
.address_row { height:100%; overflow:hidden; line-height:18px; }

#content .address_info h3 span { font-size:12px; color:#444; }
#content .address_info h3 span a { color:#444; }
#content .address_info h3 span a:hover { color:#000; }


.shipping_method {  border:1px solid #CE5555; background:none;  padding:5px 10px; height:100%; overflow:hidden; margin-bottom:20px;    }
#content .shipping_method p { margin:0; padding:0;  }
.method { color:#FF3300; font-weight:bold; font-size:13px; }

#content h3.shipping_cart { margin:0; padding:5px; font:bold 16px Arial, Helvetica, sans-serif; background:#eee; border-top:1px solid #ddd;  }

.table_spacer { margin-bottom:30px; }
.payment_method  { border:1px solid #5D97D9; padding:5px; text-align:center; margin:0 auto 10px auto; }

#page .form_col_2 h3, #page .login_form h3, #page .lostpassword_form h3 { color:#fff; }
.form, .myorder_form, .login_form, .lostpassword_form { background:none; border:none; }


/* Login Form ------------------------------------------------ */
#content h5 { border-bottom:1px solid #5D97D9; color:#fff;  }
#content p.forgetmenot { color:#ABC6E5; }
#content p.mandatory { color:#ABC6E5; }
#reg_passmail { color:#ABC6E5; }
#content #addtocartformspan small, #content #addtocartformspan2 small { color:#5991d1; }


.form h5  { border-bottom:1px solid #5D97D9; }
.form_row label, .reg_row label, .lostpassword_form label, .myorder_form_row label { color:#fff; }
.form_textfield, .reg_row_textfield, .lostpass_textfield, .reg_row_textarea { border:1px solid #333; }


.forgot_pass { background:#9c9c9c; color:#fff; border:none; }
.forgot_pass:hover { background:#636363; }


.indicates { color:#ff5c5c; }

.sucess_msg { background:#e7ffd6; color:#4e8426; border-top:1px solid #a4ce84; border-bottom:1px solid #a4ce84; }
.error_msg { background:#ffdada; color:#b01a1a; border-top:1px solid #a64646; border-bottom:1px solid #a64646; }

.myorders  { border:1px solid #5D97D9; height:100%; overflow:hidden; margin-bottom:20px; }
.myorders_col { width:43%; padding:10px 15px 15px 15px; margin-bottom:20px; }
.myorder_text {  border:1px solid #5D97D9; color:#444; }

/* product details --------------------- */
#content .realated_product_section h3 { color:#fff; } 
#content .realated_products li { background:none;  }
#content .realated_products li a { color:#FEA4A7; }
#content .realated_products li a:hover { color:#fff; }
#content .realated_products li a.product_thumb { border:1px solid #ccc; background:#fff;  }
#content .realated_products li a:hover.product_thumb  { border:1px solid #333; }

#content .fav_link  {  border-bottom:1px solid #ce5555;  }
#content .fav_link  li.print { background:url(../images/i_print.png) no-repeat 5px 5px;  }
#content .fav_link  li.sharethis { background:url(../images/i_sharethis.png) no-repeat 8px 6px; border-right:none; }
#content .fav_link  li.rss { background:url(../images/i_rss_s.gif) no-repeat 5px 6px;  }
#content .fav_link  li.emailtofriend { background:url(../images/i_email.png) no-repeat 7px 9px; cursor:pointer; border-right:none; }

#content .addtocartformspan  { color:#76db4d; background:#d8ffc9; }
#content #addtocartformspan, #content #addtocartformspan2 { color:#76db4d; }

.product_details { background:none; border:1px solid #ce5555; }
.price { color:#fff;}
.size_chart { color:#FFF; }

.zoom  a { background:url(3-red/zoom.png) no-repeat; }
div.photo  { background:#FFF;  }
.main_photo { background:#fff; border:1px solid #5D97D9; }
.mm { background:#fff; border:5px solid #5D97D9; }

/* size  chart popupwindow -------------------*/
#info { background:#fff; border:4px solid #c8c8c8; }
#info a {color:#000;}
.more:hover { color:#fff; }
.clear {clear:both; }
.close {color:#000;}

/* Checkout -----------*/
.sign_in_l, .registernchekout_m, .checkout_r  {  background:none; margin-bottom:20px; border:1px solid #5D97D9; }
.common_button { background:url(3-red/button_com.png) no-repeat; border:none; cursor:pointer; color:#444;  }
.common_button:hover { background-position:0 -32px;  color:#fff; }

/* view cart page --------------- */
#content a.normal_button { border:1px solid #bbb; text-shadow:0 1px 0 #FFFFFF; color:#444; background:#fff; }
#content a:hover.normal_button, .normal_button:focus { border:1px solid #333; background:#fff; color:#000; }
#content a.highlight_button, #content .viewdetails a.highlight_button { border:1px solid #464646; color:#fff; background:#464646; }
a:hover.highlight_button, #content .viewdetails a:hover.highlight_button { border:1px solid #333; background:#000; color:#fff; }
#page a.highlight_button { border:1px solid #333; color:#fff; background:#000; }
#page a:hover.highlight_button { border:1px solid #fff; color:#c22b2b; background:#fff;  }


#content .normal_input_btn,.normal_input_btn { border:1px solid #bbb; text-shadow:0 1px 0 #FFFFFF; color:#444; background:#fff; }
#content .normal_input_btn:hover,.normal_input_btn:hover { border:1px solid #333; background:#fff; color:#000; }

#content .highlight_input_btn ,.highlight_input_btn { border:1px solid #fff; color:#c22b2b; background:#fff; }
#content .highlight_input_btn:hover, .highlight_input_btn:hover { border:1px solid #333; background:#000; color:#fff; }

#authorizenetoptions input, #authorizenetotions select{ border:1px solid #5D97D9; } 
#content .help h5 { border-bottom:none; }
#content .help li a { color:#444; }
#content .help li a:hover { color:#000; }
#content #mycart_sidebar .payment_info { border-top:1px solid #5D97D9; }